<h1>Ola! Vimos de parte de Sym55</h1>

<p>
    Por favor, confirma que este é o teu correo facendo clic no seguinte enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar o meu mail</a>.
    Este enlace deixará de ser válido en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
</p>
